.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/graph.json
secondBrain/desktop.ini
secondBrain/Topics/desktop.ini
secondBrain/Topics/Spring/resources/desktop.ini
secondBrain/Topics/Spring/desktop.ini
secondBrain/Topics/Soft_skills/desktop.ini
secondBrain/Topics/Selenium/desktop.ini
secondBrain/Topics/Project/desktop.ini
secondBrain/Topics/Quarkus/desktop.ini
secondBrain/Topics/Linux/resouces/desktop.ini
secondBrain/Topics/Project/.space/desktop.ini
secondBrain/Topics/Linux/desktop.ini
.obsidian/desktop.ini
.obsidian/plugins/better-export-pdf/desktop.ini
.obsidian/plugins/better-export-pdf/styles.css
.obsidian/plugins/calendar/desktop.ini
.obsidian/plugins/contribution-graph/desktop.ini
.obsidian/plugins/contribution-graph/main.js
.obsidian/plugins/contribution-graph/manifest.json
.obsidian/plugins/contribution-graph/styles.css
.obsidian/plugins/custom-sort/desktop.ini
.obsidian/plugins/dataview/desktop.ini
.obsidian/plugins/desktop.ini
.obsidian/plugins/execute-code/desktop.ini
.obsidian/plugins/homepage/desktop.ini
.obsidian/plugins/obsidian-auto-link-title/desktop.ini
.obsidian/plugins/obsidian-excalidraw-plugin/desktop.ini
.obsidian/plugins/obsidian-extract-pdf-highlights/desktop.ini
.obsidian/plugins/obsidian-kanban/desktop.ini
.obsidian/plugins/obsidian-outliner/desktop.ini
.obsidian/plugins/obsidian-paste-image-rename/desktop.ini
.obsidian/plugins/obsidian-spaced-repetition/desktop.ini
.obsidian/plugins/omnisearch/desktop.ini
.obsidian/plugins/table-editor-obsidian/desktop.ini
.obsidian/plugins/templater-obsidian/desktop.ini
desktop.ini
secondBrain/Indexes/desktop.ini
secondBrain/Indexes/information_technology/desktop.ini
secondBrain/Indexes/information_technology/framework/desktop.ini
secondBrain/Indexes/information_technology/framework/spring/desktop.ini
secondBrain/Indexes/information_technology/framework/spring/spring_versions/desktop.ini
secondBrain/Indexes/information_technology/framework/spring/spring_versions/spring_boot_versions/desktop.ini
secondBrain/Indexes/information_technology/framework/spring/spring_versions/spring_security_versions/desktop.ini
secondBrain/Indexes/information_technology/libraries/desktop.ini
secondBrain/Indexes/information_technology/libraries/selenium/desktop.ini
secondBrain/Indexes/information_technology/libraries/selenium/topics/desktop.ini
secondBrain/Indexes/information_technology/libraries/selenium/version/desktop.ini
secondBrain/Indexes/information_technology/linux/desktop.ini
secondBrain/Indexes/information_technology/linux/topic/desktop.ini
secondBrain/Indexes/information_technology/programming_languages/desktop.ini
secondBrain/Indexes/information_technology/programming_languages/java/core/desktop.ini
secondBrain/Indexes/information_technology/programming_languages/java/versions/desktop.ini
secondBrain/Indexes/information_technology/programming_languages/java_script/desktop.ini
secondBrain/Indexes/information_technology/security/desktop.ini
secondBrain/Indexes/information_technology/testing/desktop.ini
secondBrain/Indexes/languages/characteristic/desktop.ini
secondBrain/Indexes/languages/desktop.ini
secondBrain/Indexes/personal_growth/desktop.ini
secondBrain/Indexes/personal_growth/finance/currencies/crypto/desktop.ini
secondBrain/Indexes/personal_growth/finance/currencies/desktop.ini
secondBrain/Indexes/personal_growth/finance/currencies/fiat/desktop.ini
secondBrain/Indexes/personal_growth/finance/decree/desktop.ini
secondBrain/Indexes/personal_growth/finance/desktop.ini
secondBrain/Indexes/personal_growth/finance/industries/banks/desktop.ini
secondBrain/Indexes/personal_growth/finance/industries/desktop.ini
secondBrain/Indexes/personal_growth/finance/types_of_laws/desktop.ini
secondBrain/Indexes/personal_growth/finance/what_happen/desktop.ini
secondBrain/Indexes/personal_growth/finance/when_it_happen/desktop.ini
secondBrain/Indexes/user/desktop.ini
secondBrain/Indexes/zettelkasten/desktop.ini
secondBrain/Templates/desktop.ini
secondBrain/Topics/API/desktop.ini
secondBrain/Topics/API/resources/desktop.ini
secondBrain/Topics/Books/Head First Design Patterns/desktop.ini
secondBrain/Topics/Books/desktop.ini
secondBrain/Topics/Computer_In_General/desktop.ini
secondBrain/Topics/English/desktop.ini
secondBrain/Topics/English/resources/desktop.ini
secondBrain/Topics/English/vocabbulary/desktop.ini
secondBrain/Topics/Finance/desktop.ini
secondBrain/Topics/Finance/resources/desktop.ini
secondBrain/Topics/Framework/resources/desktop.ini
secondBrain/Topics/France/desktop.ini
secondBrain/Topics/German/desktop.ini
secondBrain/Topics/German/grammar/desktop.ini
secondBrain/Topics/German/resources/desktop.ini
secondBrain/Topics/Git/desktop.ini
secondBrain/Topics/Git/resources/desktop.ini
secondBrain/Topics/ISTQB/desktop.ini
secondBrain/Topics/Java/desktop.ini
secondBrain/Topics/Java/resources/desktop.ini
secondBrain/Topics/Linux/ExtendResouces/desktop.ini

